<html>
    <head>
        <title>
            To-Do List
        </title>
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <h1>To-Do List</h1>
       
        <form action="/create-task" method="POST">
            <input type="text" name="task" placeholder="Add Task" id="input1">
            <br>
            <input type="date" name="date" placeholder="Due Date" id="input2">
            <select name="type" >
                <option value="Personal">Personal</option>
                <option value="Work">Work</option>
                <option value="">Opel</option>
                <option value="audi">Audi</option>

            </select>
            <button type="submit">Add Task</button>
        </form>
        <div id="task">
            <ul>
                <% for( i of task_list){%>
                <li>
                    <p><%=i.task%></p>
                    <p><%=i.date%></p>
                    <p><%=i.type%></p>
               </li>
               <%}%> 
            </ul>
        </div>
    </body>
</html>