<html>
    <head>
        <title>
            To-Do List
        </title>
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <h1>To-Do List</h1>
       
        <form action="/create-task" method="POST">
            <p>What do you want to do ?</p>
            <input type="text" name="task" placeholder="Add Task" id="input1">
            <br>
            <p>Due Date</p>
            <input type="date" name="date" placeholder="Due Date" id="input2"> 
            <br>
            <p>Type</p>
            <select name="type" id="input3" >
                <option value="Personal">Personal</option>
                <option value="Work">Work</option>
                <option value="Office">Office</option>
                <option value="Other">Other</option>

            </select><br><br>
            <button type="submit" id="add-task">+ Add Task</button>
        </form>
         
        <div id="task">
            <ul>
                <% for( i of task_list){%>
                <li>
                    <p id="task-name"><%=i.task%></p>
                    <p class="due-date">Due Date:&nbsp;<%=i.date%></p><br>
                    <p class="due-date" id="due-date">Type:&nbsp;<%=i.type%></p>
               </li>
               <button class="delete-button">
                <a href="/delete-task/?id=<%= i._id %>">
                    delete
                </a>
               </button>
               <%}%> 
            </ul>
        </div>
    </body>
</html>